<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkyWhisper</title>
    <!-- In your EJS layout -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="weather-form common-box">
              <div class="logo mb-3">
                <!-- <img src="images/logo.png" alt="SkyWhisper" /> -->
                <%- include("partials/logo.ejs") %>
              </div>
              <h1 class="common-head">Will It Rain Tomorrow?</h1>
              <p>Enter your city to check the weather forecast:</p>
              <form id="weatherForm" action="/submit" method="post">
                <input
                  name="cityname"
                  type="text"
                  id="locationInput"
                  placeholder="Enter city name"
                  required
                />
                <button type="submit">Check Forecast</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <% if (typeof tomorrowForecast !== 'undefined') { %>
            <div class="weather-content common-box mt-4 mt-md-0">
              <h2 class="common-head"><%- locals.city %></h2>
              <h3><%- locals.currWeatherData.temperature %></h3>
              <p>Feels Like : <%- locals.currWeatherData.feelsLike %></p>
              <p>
                Expected to be <%- locals.currWeatherData.weatherCondition %>
              </p>
            </div>
            <div class="weather-content common-box mt-4">
              <div class="border-bottom mb-4 pe-100">
                <p>
                  Tommorow's Forecast : <br />
                  <% if (rainDetails.length !== 0) { %> <%-
                  rainDetails[0].description%> exprected around <%-
                  rainDetails[0].time %>. <% } else { %> Clear Sky Expected <% }
                  %>
                </p>
                <div class="swiper-button-prev custom-arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19 12H5M5 12L12 19M5 12L12 5"
                      stroke="currentColor"
                      stroke-width="2.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="swiper-button-next custom-arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    style="transform: rotate(180deg)"
                  >
                    <path
                      d="M19 12H5M5 12L12 19M5 12L12 5"
                      stroke="currentColor"
                      stroke-width="2.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="weather-report">
                <ul class="report-name">
                  <li>time :</li>
                  <li>temp :</li>
                  <li>feels like :</li>
                  <li>weather :</li>
                  <li>humidity :</li>
                </ul>
                <div class="swiper weather-slider">
                  <div class="swiper-wrapper">
                    <% tomorrowForecast.forEach(currReport => { %>
                    <div class="swiper-slide">
                      <ul class="report-data">
                        <li>
                          <img
                            src="https://openweathermap.org/img/wn/<%= currReport.weatherIcon %>@2x.png"
                            alt="<%= currReport.description %>"
                          />
                        </li>
                        <li><%- currReport.time %></li>
                        <li><%- currReport.temperature %></li>
                        <li><%- currReport.feelsLike %></li>
                        <li><%- currReport.weatherCondition %></li>
                        <li><%- currReport.humidity %></li>
                      </ul>
                    </div>
                    <% }); %>
                  </div>
                  <div class="pt-5">
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
